@import '../../components/variables.scss';

/* GRID DEFINITION */
.root {
}

.container {
  min-height: 50rem;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  background: rgba(255,245,238,0.5); /* rgba of #FFF5EE Sea Shell */
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  padding: 15px;
  text-align: center;
}

h1 {
  grid-column: 1 / span 12;
  grid-row: 1;
  height:100%;
  text-align: center;
  margin: 10px;
  color: #954627; /* Warm Brown */
  font-weight: normal;
  font-size: 2rem;
}

.btnBar {
  grid-column: col-start 3 / span 8;
  grid-row: 2 / 3;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  }
    .btn1 {
      grid-column: 1 / span 2;
      grid-row: 1;
    }
    .btn2 {
      grid-column: 3 / span 2;
      grid-row: 1;
    }
    .btn3 {
      grid-column: 5 / span 2;
      grid-row: 1;
    }
    .btn4 {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    .btn5 {
      grid-column: 3 / span 2;
      grid-row: 2;
    }
    .btn6 {
      grid-column: 5 / span 2;
      grid-row: 2;
    }

.bizCatTitle {
  grid-column: 1 / span 12;
}

.bizPanel {

}
/* STYLING */

h2 {
  font-family: $font-family-base;
  font-weight: normal;
  font-size: 1.5em;
}

button {
  width: 100%;
  background-color: #954627; /* Warm Brown */
  color: #fff; /* White */
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 7px;
  border-color: #808080;  /* Light Grey */
  border-style: solid;
  border-width: 0px;
  cursor: pointer;

}
button:hover {
    opacity: 0.8;
}
.bizCatTitle {

  text-align: center;
  color: #87CEFA;  /* Light Sky Blue */

}
.bizPanel {

}
